@model IEnumerable<Vehicle>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<div>
    <div ng-controller="IndexController" ng-cloak>

        <h2>Index</h2>
        <div ng-controller="ModalController">
            <a role="button" class="btn btn-primary" ng-click="OpenCreateVehicleModal()" show-modal>New Vehicle</a>
            <a role="button" class="btn btn-primary" ng-click="OpenCreateOwnerModal()" show-modal>New Owner</a>
        </div>
        Orderby :
        <select ng-model="sortorder" class="input-sm">
            <option ng-selected= "{{value.Value == defaultSelectedOption}}"
                    ng-repeat="option in sortOptions" value="{{option.Value}}">{{option.Name}}</option>
        </select>

        Filter :
        <select ng-model="VehicleTypeFilter" class="input-sm">
            <option selected value="">All</option>
            <option ng-repeat="type in vehicleTypes" value="{{type.Name}}">
                {{type.Name}}
            </option>
        </select>
        
        <input type="text" ng-model="SearchFilter" class="form-control" placeholder="Search"/>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Owner.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VehicleType.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RegNr)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Color)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="v in Vehicles | orderBy:sortorder | filter:VehicleTypeFilter | filter:SearchFilter">
                    <td>{{v.Owner.Name}}</td>
                    <td>{{v.VehicleType.Name}}</td>
                    <td>{{v.RegNr}}</td>
                    <td>{{v.Color}}</td>
                    <td>
                        <a href="/Edit/{{v.Id}}">Edit</a>
                        <a href="/Details/{{v.Id}}">Details</a>
                        <a href="/Delete/{{v.Id}}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>